# Xcode
#
# Ignore Xcode per-user config settings
xcuserdata/

# Ignore Xcode project files
*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

.DS_Store
